# pandas

In [3]:
import pandas as pd

In [8]:
s = pd.Series([9904312,3448737,2890456,2466052],index=['서울','부산','인천','대구'])
s

서울    9904312
부산    3448737
인천    2890456
대구    2466052
dtype: int64

In [5]:
pd.Series(range(10,14))

0    10
1    11
2    12
3    13
dtype: int64

In [9]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [10]:
s.values

array([9904312, 3448737, 2890456, 2466052], dtype=int64)

In [11]:
#name 속성을 이용하여 시리즈 데이터에 이름을 붙일수있다
s.name = '인구'
s.index.name = '도시'
s

도시
서울    9904312
부산    3448737
인천    2890456
대구    2466052
Name: 인구, dtype: int64

- 시리즈 연산

In [12]:
s / 1000

도시
서울    9904.312
부산    3448.737
인천    2890.456
대구    2466.052
Name: 인구, dtype: float64

- 시리즈 인덱싱

In [13]:
s[0], s['서울']

(9904312, 9904312)

In [14]:
# 부분적인 값을 갖는 시리즈
s[[0,2]]

도시
서울    9904312
인천    2890456
Name: 인구, dtype: int64

In [15]:
s[['부산','대구']]

도시
부산    3448737
대구    2466052
Name: 인구, dtype: int64

- slicing

In [16]:
s[1:3]

도시
부산    3448737
인천    2890456
Name: 인구, dtype: int64

In [17]:
# 문자열 라벨을 이용하면 뒤의 값도 포함, 결과 값이 다르게 나옴 여기는 대구가 포함됬지!
s['부산':'대구']

도시
부산    3448737
인천    2890456
대구    2466052
Name: 인구, dtype: int64

- boolean indexing

In [18]:
s[s < 3000000]

도시
인천    2890456
대구    2466052
Name: 인구, dtype: int64

- 편리한 인덱싱

In [22]:
s.서울, s.인천

(9904312, 2890456)

- 시리즈와 딕셔너리 자료형

In [23]:
'서울' in s

True

In [24]:
for k, v in s.items():
    print(f'{k} = {v}')

서울 = 9904312
부산 = 3448737
인천 = 2890456
대구 = 2466052

In [25]:
fruits = {'apple':500, 'banana':300, 'pumpkin':600}
f= pd.Series(fruits)
f

apple      500
banana     300
pumpkin    600
dtype: int64

### 2. 데이터 프레임(data frame))

In [26]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
index = ["서울", "부산", "인천", "대구"]
df = pd.DataFrame(data, index=index, columns=columns)
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [27]:
index = ['서울', '부산', '인천', '대구']
df.index = index
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [34]:
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
df = pd.DataFrame(data, index=index, columns=columns)
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [35]:
df.values

array([['수도권', 9904312, 9631482, 9762546, 9853972, 0.0283],
       ['경상권', 3448737, 3393191, 3512547, 3655437, 0.0163],
       ['수도권', 2890451, 2632035, 2517680, 2466338, 0.0982],
       ['경상권', 2466052, 2431774, 2456016, 2473990, 0.0141]], dtype=object)

In [36]:
df.index.name = '도시'
df.columns.name = '특성'
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [37]:
df.T

도시                  서울       부산       인천       대구
특성
지역                 수도권      경상권      수도권      경상권
2015           9904312  3448737  2890451  2466052
2010           9631482  3393191  2632035  2431774
2005           9762546  3512547  2517680  2456016
2000           9853972  3655437  2466338  2473990
2010-2015 증가율   0.0283   0.0163   0.0982   0.0141

- 열 데이터

In [39]:
df['지역']

도시
서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [40]:
df.지역

도시
서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [49]:
# 새로운 열을 생성할 경우에는 사용할 수 없다
df.temp = [1,2,3,4]

In [44]:
df['temp']=[1,2,3,4]
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율  temp
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283     1
부산  경상권  3448737  3393191  3512547  3655437         0.0163     2
인천  수도권  2890451  2632035  2517680  2466338         0.0982     3
대구  경상권  2466052  2431774  2456016  2473990         0.0141     4

In [50]:
df.temp = [5,6,7,8]
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율  temp
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283     5
부산  경상권  3448737  3393191  3512547  3655437         0.0163     6
인천  수도권  2890451  2632035  2517680  2466338         0.0982     7
대구  경상권  2466052  2431774  2456016  2473990         0.0141     8

In [52]:
del df['temp']

- 열 인덱싱

In [54]:
df[['2010','2015']]

특성     2010     2015
도시
서울  9631482  9904312
부산  3393191  3448737
인천  2632035  2890451
대구  2431774  2466052

In [55]:
df['2010'] # 하나의 열만 인덱싱하면 시리즈가 반환

도시
서울    9631482
부산    3393191
인천    2632035
대구    2431774
Name: 2010, dtype: int64

In [58]:
df[['2010']] # 리스트를 써서 인덱싱하면 데이터프레임이 반환

특성     2010
도시
서울  9631482
부산  3393191
인천  2632035
대구  2431774

- 행 인덱싱

In [59]:
df[:1]

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283

In [60]:
df['서울':'부산']

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163

- 개별 데이터 인덱싱

In [62]:
df['지역']['서울']

'수도권'

In [63]:
# 가장 보편적으로 사용함
df['2015'][1]  #부산

3448737

In [64]:
# 익숙해지면 이렇게 쓰라
df.지역[0]

'수도권'

In [66]:
df.지역[0:1]

도시
서울    수도권
Name: 지역, dtype: object

In [67]:
df.지역.서울 # 열 인덱스. 행 인덱스

'수도권'

In [69]:
df.index

Index(['서울', '부산', '인천', '대구'], dtype='object', name='도시')