### 판다스 데이터 입출력

In [5]:
import pandas as pd

In [1]:
%%writefile data/sample1.csv
c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing data/sample1.csv

- csv 파일 입력

In [6]:
pd.read_csv('data/sample1.csv')

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [8]:
%%writefile sample2.csv
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing sample2.csv

In [9]:
pd.read_csv('sample2.csv', names=['c1', 'c2', 'c3'])

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [11]:
pd.read_csv('data/sample1.csv', index_col='c1')

      c2      c3
c1
1   1.11     one
2   2.22     two
3   3.33   three

In [13]:
%%writefile data/sample3.txt
c1        c2        c3        c4
0.179181 -1.538472  1.347553  0.43381
1.024209  0.087307 -1.281997  0.49265
0.417899 -2.002308  0.255245 -1.10515

Writing data/sample3.txt

In [18]:
pd.read_table('data/sample3.txt',sep='\s+')

         c1        c2        c3       c4
0  0.179181 -1.538472  1.347553  0.43381
1  1.024209  0.087307 -1.281997  0.49265
2  0.417899 -2.002308  0.255245 -1.10515

In [19]:
%%writefile sample5.csv
c1, c2, c3
1, 1.11, one
2, , two
누락, 3.33, three

Writing sample5.csv

In [22]:
df =pd.read_csv('sample5.csv', na_values=['누락'])

- csv 파일 출력

In [23]:
df

    c1     c2      c3
0  1.0   1.11     one
1  2.0            two
2  NaN   3.33   three

In [25]:
df.to_csv('data/sample6.csv')

In [26]:
# 행 인덱스가 파일에 쓰여져 있어서 읽으면 엉뚱한 데이터가 나옴
pd.read_csv('data/sample6.csv')

   Unnamed: 0   c1     c2      c3
0           0  1.0   1.11     one
1           1  2.0            two
2           2  NaN   3.33   three

In [27]:
df.to_csv('data/sample7.csv', index=False)
pd.read_csv('data/sample7.csv')

    c1     c2      c3
0  1.0   1.11     one
1  2.0            two
2  NaN   3.33   three

In [28]:
df.head()

    c1     c2      c3
0  1.0   1.11     one
1  2.0            two
2  NaN   3.33   three

In [30]:
df.tail(3)

    c1     c2      c3
0  1.0   1.11     one
1  2.0            two
2  NaN   3.33   three