In [5]:
import numpy as np 
import pandas as pd

In [8]:
s = pd.Series([50,20], index= ["가","나"])
s

가    50
나    20
dtype: int64

In [10]:
s1 = pd.Series([30,10], index=["다","라"])
s1

다    30
라    10
dtype: int64

In [12]:
s * 10

가    500
나    200
dtype: int64

In [14]:
s1 * 10

다    300
라    100
dtype: int64

In [18]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052,1234567],
    "2010": [9631482, 3393191, 2632035, 2431774,1234567],
    "2005": [9762546, 3512547, 2517680, 2456016,1234567],
    "2000": [9853972, 3655437, 2466338, 2473990,1234567],
    "지역": ["수도권", "경상권", "수도권", "경상권","대전권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141,0.0155]
}
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
index = ["서울", "부산", "인천", "대구","대전","2010-2015 증가율"]
index = ["서울", "부산", "인천", "대구","대전"]
df = pd.DataFrame(data, index=index, columns=columns)
df
df = pd.DataFrame(data, index=index, columns=columns)
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141
대전  대전권  1234567  1234567  1234567  1234567         0.0155

In [19]:
s = pd.Series([90,60,80,70], index= ["춘향","몽룡","향단","방자"])
s

춘향    90
몽룡    60
향단    80
방자    70
dtype: int64

In [20]:
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
}
columns = ["국어", "영어"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)
df

    국어  영어
춘향  80  90
몽룡  90  70
향단  70  60
방자  30  40

In [26]:
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

In [27]:
df[:1]

    국어  영어  수학
춘향  80  90  90

In [1]:
# 모든 학생의 각 과목의 평균 점수를 새로운 열로 추가한다 
df['평균']=np.round(df.mean(axis=1),2)
df

NameError: name 'np' is not defined

In [29]:
# 방자의영어 점수를 80점으로 수정하고 평균 점수도 다시 계산한다

NameError: name 'mean' is not defined

In [30]:
# 춘향의 점수를 데이터프레임으로 나타낸다

In [32]:
#향단의 점수를 시리즈로 나타낸다

In [34]:
df = pd.DataFrame(np.arange(10, 35).reshape(5, 5),
                  index=["a", "b", "c","d","e"],
                  columns=["A", "B", "C", "D","E"])
df

    A   B   C   D   E
a  10  11  12  13  14
b  15  16  17  18  19
c  20  21  22  23  24
d  25  26  27  28  29
e  30  31  32  33  34

In [35]:
df.loc["a"]

A    10
B    11
C    12
D    13
E    14
Name: a, dtype: int32

In [36]:
df.loc["a":"c"]

    A   B   C   D   E
a  10  11  12  13  14
b  15  16  17  18  19
c  20  21  22  23  24

In [37]:
df["a":"c"]

    A   B   C   D   E
a  10  11  12  13  14
b  15  16  17  18  19
c  20  21  22  23  24

In [39]:
df.loc[["a","c"]]

    A   B   C   D   E
a  10  11  12  13  14
c  20  21  22  23  24

In [40]:
df.A >20

a    False
b    False
c    False
d     True
e     True
Name: A, dtype: bool

In [41]:
df.loc[df.A > 20]

    A   B   C   D   E
d  25  26  27  28  29
e  30  31  32  33  34

In [42]:
def select_rows(df):
    return df.A >20

In [43]:
select_rows(df)

a    False
b    False
c    False
d     True
e     True
Name: A, dtype: bool

In [44]:
df.loc[select_rows(df)]

    A   B   C   D   E
d  25  26  27  28  29
e  30  31  32  33  34

In [45]:
df.loc["a","B"]

11

In [46]:
df.loc["c","D"]

23

In [47]:
df.loc["b", :]

A    15
B    16
C    17
D    18
E    19
Name: b, dtype: int32

In [48]:
# 4.5  연습문제

In [51]:
np.random.seed(0)
df_score1 = pd.DataFrame(np.vstack([list('가나다라마'),np.round(np.random.rand(5,3),0)]),columns=["국어","영어","수학"])
df_score1

ValueError: all the input array dimensions for the concatenation axis must match exactly, but along dimension 1, the array at index 0 has size 5 and the array at index 1 has size 3