In [1]:
import numpy as np 
import pandas as pd

In [3]:
date_str = ["2018, 1, 1", "2018-1-4", "20180105", "2018.1.6", "010718"]  # 마지막거 010718은 주의해라 출력되는 순서
idx = pd.to_datetime(date_str)
idx

DatetimeIndex(['2018-01-01', '2018-01-04', '2018-01-05', '2018-01-06',
               '2018-01-07'],
              dtype='datetime64[ns]', freq=None)

In [6]:
np.random.seed(2021)
s = pd.Series(np.random.randn(5),index=idx)
s

2018-01-01    1.488609
2018-01-04    0.676011
2018-01-05   -0.418451
2018-01-06   -0.806521
2018-01-07    0.555876
dtype: float64

In [7]:
pd.date_range('20210601','20210630')

DatetimeIndex(['2021-06-01', '2021-06-02', '2021-06-03', '2021-06-04',
               '2021-06-05', '2021-06-06', '2021-06-07', '2021-06-08',
               '2021-06-09', '2021-06-10', '2021-06-11', '2021-06-12',
               '2021-06-13', '2021-06-14', '2021-06-15', '2021-06-16',
               '2021-06-17', '2021-06-18', '2021-06-19', '2021-06-20',
               '2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24',
               '2021-06-25', '2021-06-26', '2021-06-27', '2021-06-28',
               '2021-06-29', '2021-06-30'],
              dtype='datetime64[ns]', freq='D')

In [8]:
pd.date_range('20210601',periods=30)

DatetimeIndex(['2021-06-01', '2021-06-02', '2021-06-03', '2021-06-04',
               '2021-06-05', '2021-06-06', '2021-06-07', '2021-06-08',
               '2021-06-09', '2021-06-10', '2021-06-11', '2021-06-12',
               '2021-06-13', '2021-06-14', '2021-06-15', '2021-06-16',
               '2021-06-17', '2021-06-18', '2021-06-19', '2021-06-20',
               '2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24',
               '2021-06-25', '2021-06-26', '2021-06-27', '2021-06-28',
               '2021-06-29', '2021-06-30'],
              dtype='datetime64[ns]', freq='D')

In [9]:
pd.date_range('20210601', periods=30, freq='B')  # 비즈니스데이, 출석해야 하는 날짜

DatetimeIndex(['2021-06-01', '2021-06-02', '2021-06-03', '2021-06-04',
               '2021-06-07', '2021-06-08', '2021-06-09', '2021-06-10',
               '2021-06-11', '2021-06-14', '2021-06-15', '2021-06-16',
               '2021-06-17', '2021-06-18', '2021-06-21', '2021-06-22',
               '2021-06-23', '2021-06-24', '2021-06-25', '2021-06-28',
               '2021-06-29', '2021-06-30', '2021-07-01', '2021-07-02',
               '2021-07-05', '2021-07-06', '2021-07-07', '2021-07-08',
               '2021-07-09', '2021-07-12'],
              dtype='datetime64[ns]', freq='B')

In [10]:
pd.date_range('20210601',periods=30, freq='m') # 각달의 마지막날

DatetimeIndex(['2021-06-30', '2021-07-31', '2021-08-31', '2021-09-30',
               '2021-10-31', '2021-11-30', '2021-12-31', '2022-01-31',
               '2022-02-28', '2022-03-31', '2022-04-30', '2022-05-31',
               '2022-06-30', '2022-07-31', '2022-08-31', '2022-09-30',
               '2022-10-31', '2022-11-30', '2022-12-31', '2023-01-31',
               '2023-02-28', '2023-03-31', '2023-04-30', '2023-05-31',
               '2023-06-30', '2023-07-31', '2023-08-31', '2023-09-30',
               '2023-10-31', '2023-11-30'],
              dtype='datetime64[ns]', freq='M')

In [11]:
ts = pd.Series(np.random.randn(100), index=pd.date_range(
    "2018-1-1", periods=100, freq="D"))
ts.tail(20)

2018-03-22    1.277788
2018-03-23    0.629269
2018-03-24    0.361891
2018-03-25    3.638726
2018-03-26   -1.201221
2018-03-27   -1.330033
2018-03-28    1.261033
2018-03-29   -0.648126
2018-03-30    2.245300
2018-03-31   -1.012394
2018-04-01   -0.125939
2018-04-02   -0.432416
2018-04-03    0.425937
2018-04-04    0.756636
2018-04-05   -0.994854
2018-04-06   -0.740574
2018-04-07    0.458233
2018-04-08    1.257247
2018-04-09   -0.441704
2018-04-10    0.541335
Freq: D, dtype: float64

In [12]:
ts.resample('w').mean()

2018-01-07    0.126454
2018-01-14   -0.465620
2018-01-21    0.485757
2018-01-28    0.895867
2018-02-04   -0.528141
2018-02-11    0.158783
2018-02-18   -0.370440
2018-02-25    0.328590
2018-03-04    0.140790
2018-03-11   -0.202126
2018-03-18    0.313662
2018-03-25    0.927967
2018-04-01   -0.115911
2018-04-08    0.104316
2018-04-15    0.049816
Freq: W-SUN, dtype: float64

In [13]:
ts.resample('m').first()  # 1달 동안 어떤 값을 꺼낼거다

2018-01-31   -0.705504
2018-02-28   -1.044744
2018-03-31    0.141464
2018-04-30   -0.125939
Freq: M, dtype: float64