In [1]:
# melon 주간 차트 크롤링

In [3]:
import requests
import pandas as pd

In [36]:
# 사이트에서 데이터 추출안될때 크롬서 f12누른다음 console 들가서 navigator.userAgent 라고 입력하면
# 그 아래 주황색 글씨로 나오는거 복사 한다음 여기서 아래처럼 header => 다음  그렇게 입력하면 가져올 수 있다

url = 'https://www.melon.com/chart/week/index.htm'
header = {'User-Agent':
"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.77 Safari/537.36"}
req = requests.get(url, headers=header)
html = req.text
# html

In [37]:
url = 'https://www.hanbit.co.kr/academy/'
req = requests.get(url)
html = req.text
# html

In [9]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(html, 'html.parser')

In [38]:
# soup

In [ ]:
#frm > div > table > tbody > tr:nth-child(3) > td:nth-child(4) > div > div > div.ellipsis.rank02 > a    # copy - selector래 
//*[@id="frm"]/div/table/tbody/tr[3]/td[4]/div/div/div[2]/a   # copy - xpath래

In [11]:
trs = soup.select('#lst50')
len(trs)

50

In [39]:
tr = trs[0]
# tr

In [17]:
rank = tr.select_one('.rank').get_text()
rank = int(rank)
rank

1

In [16]:
# 순위를 찾아오는 것
rank = tr.select_one('.rank').string
rank = int(rank)
rank

1

In [19]:
# 곡명 
title = tr.select_one('.ellipsis.rank01')
title = title.find('a').get_text()
title

'Butter'

In [21]:
# 가수명
artist = tr.select_one('.ellipsis.rank02')
artist = artist.find('a').get_text()
artist

'방탄소년단'

In [23]:
# 앨범명
album = tr.select_one('.ellipsis.rank03')
album = album.find('a').get_text()
album

'Butter'

In [25]:
# 50곡에 대해서 데이터 프레임 만들기 
rank_list, title_list, artist_list, album_list = [],[],[],[]
for tr in trs:rank = tr.select_one('.rank').string
rank = int(rank)
title = tr.select_one('.ellipsis.rank01')
title = title.find('a').get_text()
artist = tr.select_one('.ellipsis.rank02')
artist = artist.find('a').get_text()
album = tr.select_one('.ellipsis.rank03')
album = album.find('a').get_text()

rank_list.append(rank)
title_list.append(title)
artist_list.append(artist)
album_list.append(album)

df = pd.DataFrame({
    '순위': rank_list,
    '곡명': title_list,
    '가수': artist_list,
    '앨범': album_list
})
df.head()

   순위    곡명          가수                        앨범
0  50  2002  Anne-Marie  Speak Your Mind (Deluxe)

In [28]:
# 이미지 속성값 가져오기
image =trs[0].select_one('.image_typeAll').find('img')
image = image['src']
image

'https://cdnimg.melon.co.kr/cm2/album/images/106/12/483/10612483_20210521111412_500.jpg/melon/resize/120/quality/80/optimize'

In [29]:
rank_list, image_list
for tr in trs : rank = select_one('ellipsis.rank01')
title = title.find('a').get_text()
image = image.find('src')

title_list = title.append(title)
image_list = image.append(image)

df=pd.DataFrame({
    '곡명':title_list
    '이미지': image_list
})
df.head

SyntaxError: invalid syntax (<ipython-input-29-61b7a45fdd9d>, line 11)

In [30]:
# 100곡 모두 가져오기 
trs = soup.select('#lst50')
trs2 = soup.select('#lst100')
trs.extend(trs2)
len(trs)

100

In [32]:
rank_list, title_list, artist_list, album_list, image_list = [],[],[],[],[]
for tr in trs:rank = tr.select_one('.rank').string
rank = int(rank)
title = tr.select_one('.ellipsis.rank01')
title = title.find('a').get_text()
artist = tr.select_one('.ellipsis.rank02')
artist = artist.find('a').get_text()
album = tr.select_one('.ellipsis.rank03')
album = album.find('a').get_text()
image =tr.select_one('.image_typeAll').find('img')
image = image['src']

rank_list.append(rank)
title_list.append(title)
artist_list.append(artist)
album_list.append(album)
image_list.append(image)

df = pd.DataFrame({
    '순위': rank_list,
    '곡명': title_list,
    '가수': artist_list,
    '앨범': album_list
    '이미지':image_list
})
df.head()

SyntaxError: invalid syntax (<ipython-input-32-e063edd22a43>, line 24)

In [33]:
# 파일에 저장하기
period = soup.select_one('.yyyymmdd').get_text().strip()
period

'2021.05.24 ~ 2021.05.30'

In [35]:
filename = f'melon({period}).csv'
df.to_csv(filename, index=False, sep=',', encoding='utf8')