In [2]:
import numpy as np

### 5. operation

In [3]:
a= np.arange(1,11,dtype=np.float32)
a.sum()

55.0

In [4]:
b = np.arange(1,13).reshape(3,4)
b

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [5]:
b.sum()

78

In [6]:
# 세로방향으로 합
b.sum(axis=0)

array([15, 18, 21, 24])

In [7]:
# 가로방향으로 합
b.sum(axis=1)

array([10, 26, 42])

In [9]:
b.mean(axis=0), b.mean(axis=1)

(array([5., 6., 7., 8.]), array([ 2.5,  6.5, 10.5]))

In [10]:
b.std(axis=0), b.std(axis=1)

(array([3.26598632, 3.26598632, 3.26598632, 3.26598632]),
 array([1.11803399, 1.11803399, 1.11803399]))

In [11]:
# 수학 함수
x = np.arange(-1,1.01, 0.01)
x.size

201

In [49]:
#sigmoid 함수
y = 1./(1.+ np.exp(-x))

In [16]:
a= np.arange(1,5).reshape(2,2)
b= np.array([[5,6]])
np.vstack((a,b))

array([[1, 2],
       [3, 4],
       [5, 6]])

In [17]:
np.concatenate((a,b), axis=0)

array([[1, 2],
       [3, 4],
       [5, 6]])

In [18]:
# 전치행렬 transpose
b.T

array([[5],
       [6]])

In [19]:
np.concatenate((a,b.T), axis=1)

array([[1, 2, 5],
       [3, 4, 6]])

In [20]:
np.hstack((a, b.T))

array([[1, 2, 5],
       [3, 4, 6]])

### 6. array operation

In [21]:
# element-wise operation
a + a

array([[2, 4],
       [6, 8]])

In [22]:
a - a

array([[0, 0],
       [0, 0]])

In [23]:
a * a

array([[ 1,  4],
       [ 9, 16]])

In [24]:
a / a

array([[1., 1.],
       [1., 1.]])

- dot product

In [25]:
a= np.arange(1,7).reshape(2,3)
a.dot(a.T)

array([[14, 32],
       [32, 77]])

In [26]:
np.dot(a,a.T)

array([[14, 32],
       [32, 77]])

- broadcasting

In [27]:
a + 10

array([[11, 12, 13],
       [14, 15, 16]])

In [28]:
a **2

array([[ 1,  4,  9],
       [16, 25, 36]], dtype=int32)

In [29]:
a + np.array([10, 20, 30])

array([[11, 22, 33],
       [14, 25, 36]])

### 7. comparison

In [31]:
a = np.arange(5) # a= (0 , 1 ,2 ,3,4)
np.all(a), np.any(a)  # a의 element 가 전부 트루냐= FALSE, np.any 그 중하나라도 트루가 있냐?

(False, True)

In [32]:
a >2

array([False, False, False,  True,  True])

In [33]:
a[a>2]

array([3, 4])

- logical operation

In [35]:
a = np.arange(5)
b = np.logical_and(a>0, a<3)
b  # 0보다 크고 3보다 작은애를 끄집어낸다

array([False,  True,  True, False, False])

In [39]:
c= np.logical_not(b)  # 트루는 폴스가 되고 폴스는 트루가 되게하는거
c

array([ True, False, False,  True,  True])

In [40]:

np.logical_or(b,c)

array([ True,  True,  True,  True,  True])

In [38]:
np.logical_xor(b,c)

array([ True,  True,  True,  True,  True])

In [41]:
a = np.arange(5)
np.where(a>2)

(array([3, 4], dtype=int64),)

- NaN(Not a Number), Inf(Infinite)

In [42]:
a = np.array([1,np.NaN, np.Inf], float)
a

array([ 1., nan, inf])

In [43]:
np.isnan(a), np.isfinite(a)  # nan이 잇느냐? 다 유한하냐?

(array([False,  True, False]), array([ True, False, False]))

In [45]:
a = np.arange(6)
np.argmax(a), np.argmin(a)

(5, 0)

In [46]:
b= np.arange(12).reshape(3,4)
b

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [47]:
np.argmax(b, axis=0)

array([2, 2, 2, 2], dtype=int64)

In [48]:
np.argmin(b, axis=1)

array([0, 0, 0], dtype=int64)