In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib as mpl 
import matplotlib.pyplot as plt 
%matplotlib inline

In [2]:
plt.rcParams["font.family"] = 'Malgun Gothic'
mpl.rcParams['axes.unicode_minus'] = False

In [3]:
iris = sns.load_dataset('iris')
titanic = sns.load_dataset('titanic')
tips = sns.load_dataset('tips')
flights = sns.load_dataset('flights')

In [4]:
np.random.seed(2021)
df1 = pd.DataFrame(np.random.randn(100, 3),
                   index=pd.date_range('1/1/2021', periods=100),
                   columns=['A', 'B', 'C']).cumsum()
df1.tail()

                    A          B          C
2021-04-06  19.553541  11.530579  -8.757243
2021-04-07  20.909591  10.466816 -10.143565
2021-04-08  22.435144  11.674278  -7.474442
2021-04-09  22.546156  10.547727  -7.594791
2021-04-10  21.319639   9.825032  -8.213817

In [ ]:
df1.plot()
plt.title("Pandas의 Plot메소드 사용 예")
plt.xlabel("시간")
plt.ylabel("Data")
plt.show()